/* main scss. Reformat css file to find duplicated CSS classes */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,h
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}
html,body{
    width: 100%;
    height: 100%;
    margin:0;
}
body {
    padding-top: 95px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix {
    zoom:1;
}
button, .btn{
    -webkit-transition: background 100ms linear;
    -moz-transition: background 100ms linear;
    -ms-transition: background 100ms linear;
    -o-transition: background 100ms linear;
    transition: background 100ms linear;
    &:focus{
        outline: 0;
    }
}
a {
    text-decoration: none;
    color: #a9aaac;
    cursor: pointer;
}
a:focus, a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    width: 980px;
    position: relative;
}
.app{
    .app-store,
    .google-play{
        display: inline-block;
        width: 132px;
        margin: 0 34px 0 -4px;
        color: #fff;
        .title{
            margin-bottom: 10px;
            text-align: center;
        }
    }
    .google-play{
        margin-right: 0;
    }
}
h2.title{
    font-size: 25px;
    letter-spacing: 0.2em;
    text-align: center;
    margin-bottom: 25px;
}
p.intro{
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: 0.05em;
}
.btn-bg_pink-text_white{
    min-width: 50px;
    min-height: 30px;
    font-size: 15px;
    color: #fff;
    background-color: rgba(239, 84, 84, 1);
    border: solid rgba(171, 5, 53, 1) 0px;
    border-radius: 50px;
    margin-right: 40px;
    text-align: center;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    &:hover{
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(239, 84, 84, 1);
        color: rgba(239, 84, 84, 1);
    }
}
footer{
    text-align: center;
    height: 66px;
    font-weight: 300;
    color: #fff;
    background: #000;
    display: table;
    width: 100%;
    .container{
        display: table-cell;
        vertical-align: middle;
    }
    p{
        font-size: 14px;
        line-height: 1.4em;
    }
}

.subscribe-field{
    width: 507px;
    margin: auto;
    input{
        padding: 10px;
        background-color: rgba(255,255,255,1);
        color: #0E2E47;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        width: 296px;
        margin-right: 12px;
        border: 0;
        border-radius: 0;
    }
    input::placeholder{
        color: #000;
    }
}
.subscribe-btn {
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    padding: 9px 24px;
}
//Animation
.os-animation{
  opacity: 0;
}

.os-animation.animated{
    opacity: 1;
}

// Pop up 
#munchee-popup{
    background: rgba(131, 150, 156, 0.85);
    .modal-dialog{
        max-width: 600px;
        margin: 150px auto;
    }
    .modal-content{
        border: 8px solid #ef5454;
        padding: 80px 20px;
        min-height: 365px;
        text-align: center;
    }
    button.close{
        width: 22px;
        height: 22px;
        font-size: 50px;
        line-height: 22px;
        color: #000;
        cursor: pointer;
        position: absolute;
        right: -42px;
        top: -8px;
        font-weight: 500;
    }
    .popup-title{
        font-size: 34px;
        font-weight: 900;
        color: #ef5454;
        font-family: 'Tahoma';
        letter-spacing: 0.05em;
        margin-bottom: 22px;
    }
    .popup-subhead{
        font-size: 19px;
        line-height: 1.4;
        color: #0E2E47;
        margin-bottom: 70px;
    }
    .subscribe-field{
        width: 440px;
        input{
            padding: 6px 10px;
            font-size: 15px;
            font-weight: normal;
            border: 0.5px solid #605E5E;
            &::placeholder{
                color: #0E2E47;
            }
        }
    }
    .subscribe-btn{
        font-size: 15px;
        padding: 6px 23px;
        background: #ef5454;
    }
}