#banner-video{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -2;
	.mchee-video{
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    object-position: center center;
	}
	.home-banner-img{
		display: none;
		background-image: url(../assets/preview_video.png);
		background-position: 0 0;
	    background-size: cover;
	    position: absolute;
	    width: 100%;
	    height: 100%; 
	}
}
.date-countdown{
    margin-bottom: 100px;
}
#countdown-section .left-info{
    padding-top: 80px;
    float: left;
    width: 620px;
    height: 100%;
    color: #fff;
    .container{
		height: 100%;
        top: 95px;
	}
    .slogan{
        font-size: 23px;
        letter-spacing: 0.2em;
        margin: 0;
    }
    .date-detail{
        font-size: 21px;
        margin: 100px 0 30px 0;
    }
    .date-section{
        height: 31px;
        line-height: 31px;
        font-size: 24px;
        box-shadow: rgb(0, 0, 0) 0px 0px 12.1634px;
        text-shadow: rgb(255, 255, 255) 0px 0px 2.43268px;
        background: #000;
        width: 610px;
        margin: 17px 0 17px 5px;
        li{
            display: inline-block;
            width: 25%;
            margin: 0 0 0 -4px;
            text-align: center;
            &:nth-of-type(3){
                padding-left: 14px;
            }
            &:nth-last-of-type(1){
                padding-left: 24px;
            }
        }
    }
    .btn-group a{
        width: 273px;
        height: 62px;
        line-height: 62px;
        color: #fff;
        font-size: 15px;
        background-color: rgba(239, 84, 84, 1);
        border: solid rgba(171, 5, 53, 1) 0px;
        border-radius: 50px;
        margin-right: 40px;
        text-align: center;
        transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
        &:hover{
            background-color: rgba(255, 255, 255, 1);
            border-color: rgba(239, 84, 84, 1);
            color: rgba(239, 84, 84, 1);
        }
    }
}
#clock-countdown{
    margin: 0;
    .flip-clock-divider .flip-clock-label {
        display: none;
    }
    ul li a div div.inn {
        background-color: #000;
    }
}
#countdown-section .right-info{
    padding-top: 80px;
    float: right;
    width: calc(100% - 620px);
    height: 100%;
    .right-image{
        margin-top: 30px;
        text-align: center;
        position: relative;
        .big{
            width: 258px;
            height: 445px;
            object-fit: cover;
        }
        .small{
            width: 181px;
            height: 334px;
            object-fit: cover;
            position: absolute;
            left: 61%;
            top: 30%;
        }
    }
}

#top-nav{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 95px;
    left: 0;
    top: 0;
    background-color: rgba(47, 46, 46, 0.6);
    border-top: 0px solid rgba(47, 46, 46, 1);
    border-bottom: 0px solid rgba(47, 46, 46, 1);
    & > .container{
        height: 100%;
    }
}
#logo-home{
    display: block;
    width: 195px;
    height: 50px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 22px;
    img{
        width: 100%;
        height: 100%;
    }
}
#menu-home{
    top: 20px;
    left: 250px;
    right: 0px;
    position: absolute;
    margin: auto;
    z-index: 2;
    height: 50px;
    line-height: 50px;
    text-align: right;
    .nav-link{
        font-size: 15px;
        font-weight: normal;
        line-height: 1.4em;
        text-align: center;
        color: #ffffff;
        display: inline-block;
        vertical-align: middle;
        padding: 0 12px;
        &:hover{
            color: rgba(239, 84, 84, 1);
        }
    }
}

#countdown-section{
    .app{
        text-align: right;
    }
    .app-store,
    .google-play{
        display: inline-block;
        width: 132px;
        margin: 0 34px 0 -4px;
        color: #fff;
        .title{
            margin-bottom: 10px;
            text-align: center;
        }
    }
    .google-play{
        margin-right: 0;
    }
}