
#banner-video{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -2;
    overflow: hidden;
	.mchee-video{
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    object-position: center center;
	}
	.home-banner-img{
		display: none;
		background-image: url(../assets/preview_video.png);
		background-position: 0 0;
	    background-size: cover;
	    position: absolute;
	    width: 100%;
	    height: 100%; 
	}
}

#top-nav{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 95px;
    left: 0;
    top: 0;
    background-color: rgba(47, 46, 46, 0.6);
    border-top: 0px solid rgba(47, 46, 46, 1);
    border-bottom: 0px solid rgba(47, 46, 46, 1);
    & > .container{
        height: 100%;
    }
}
#logo-home{
    display: block;
    width: 195px;
    height: 50px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 22px;
    img{
        width: 100%;
        height: 100%;
    }
}
#menu-home{
    top: 20px;
    left: 250px;
    right: 0px;
    position: absolute;
    margin: auto;
    z-index: 2;
    height: 50px;
    line-height: 50px;
    text-align: right;
    .nav-link{
        font-size: 15px;
        font-weight: normal;
        line-height: 1.4em;
        text-align: center;
        color: #ffffff;
        display: inline-block;
        vertical-align: middle;
        padding: 0 12px;
        &:hover{
            color: rgba(239, 84, 84, 1);
        }
    }
}
/* Countdown section */
#countdown-section{
    & > .container{
		height: 100%;
	}
    .app{
        text-align: right;
    }
}
#countdown-section .left-info{
    padding-top: 80px;
    float: left;
    width: 620px;
    height: 100%;
    color: #fff;
    .slogan{
        font-size: 23px;
        letter-spacing: 0.2em;
        margin: 0 0 60px 0;
    }
    .date-detail{
        font-size: 21px;
        margin: 0 0 30px 0;
    }
    .date-countdown{
        margin: 20px 0 80px 0;
    }
    .date-section{
        height: 31px;
        line-height: 31px;
        font-size: 24px;
        box-shadow: rgb(0, 0, 0) 0px 0px 12.1634px;
        text-shadow: rgb(255, 255, 255) 0px 0px 2.43268px;
        background: #000;
        width: 610px;
        margin: 17px 0 17px 5px;
        li{
            display: inline-block;
            width: 25%;
            margin: 0 0 0 -4px;
            text-align: center;
            &:nth-of-type(3){
                padding-left: 14px;
            }
            &:nth-last-of-type(1){
                padding-left: 24px;
            }
        }
    }
    .btn-bg_pink-text_white{
        width: 273px;
        height: 62px;
        line-height: 62px;
    }
}
#clock-countdown{
    margin: 0;
    .flip-clock-divider .flip-clock-label {
        display: none;
    }
    ul li a div div.inn {
        background-color: #000;
    }
}
#countdown-section .right-info{
    padding-top: 80px;
    float: right;
    width: calc(100% - 620px);
    height: 100%;
    .right-image{
        margin-top: 30px;
        text-align: center;
        position: relative;
        .big{
            width: 258px;
            height: 445px;
            object-fit: cover;
        }
        .small{
            width: 181px;
            height: 334px;
            object-fit: cover;
            position: absolute;
            left: 61%;
            top: 30%;
        }
    }
}
/* youtube section */
#youtube-section{
    padding: 106px 0;
    text-align: center;
    background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 1) 100%);
}

/* subscribe */
#subscribe-section{
    padding: 106px 0;
    background: rgba(239, 84, 84, 1);
    color: #fff;
    text-align: center;
    .title{
        font-size: 32px;
        margin: 0 0 50px 0;
    }
    p{
        font-size: 17px;
        margin: 30px 0 0 0;
    }
}
#subscribe-btn {
    background-color: rgba(114,179,50,1) !important;
    border: 2px solid rgba(114,179,50,1);
    border-color: rgba(114,179,50,1);
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    padding: 9px 24px;
}

/* Current Problem */
#current-problem-section{
    color: #fff;
    padding: 140px 0;
    background-image: url(../assets/current_problem_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    & > .container{
        padding: 20px 80px;
    }
    .title{
        font-size: 25px;
        letter-spacing: 0.2em;
        text-align: center;
        margin-bottom: 50px;
    }
    p{
        font-size: 17px;
        line-height: 1.6;
        letter-spacing: 0.05em;
        margin-bottom: 30px;
    }
}

/* Solution section */
#solution-section{
    color: #fff;
    padding: 140px 0;
    background-image: url(../assets/solution_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    .title{
        font-size: 25px;
        letter-spacing: 0.2em;
        text-align: center;
        margin-bottom: 30px;
    }
    p.intro{
        margin-bottom: 30px;
    }
    .solution-list{
        margin: 80px 0 0 0;
        .item{
            img{
                width: 126px;
                height: auto;
                margin: 25px auto;
            }
            .name{
               font-size: 20px;
               margin-bottom: 20px;
            }
            p{
                font-size: 15px;
                line-height: 1.6em;
                text-align: justify;
                letter-spacing: 0.05em;
            }
        }
    }
}

/* live product section */
#live-product-section{
    background:#fff;
    padding: 106px 0;
    text-align: center;
    h2.title{
        font-size: 25px;
        letter-spacing: 0.2em;
        text-align: center;
        margin-bottom: 25px;
        color: rgb(239, 84, 84);
    }
    p{
        color: #0E2E47;
        font-size: 17px;
        letter-spacing: 0.05em;
        text-align: center;
    }
    .app{
        margin-top: 30px;
        .title{
            font-size: 17px;
            color: #0E2E47;
            letter-spacing: 0.05em;
            margin-bottom: 10px;
        }
    }
    .btn-bg_pink-text_white{
        width: 325px;
        height: 47px;
        line-height: 47px;
        display: block;
        margin: 40px auto;
    }
}
#live-product-section .showcase {
    margin-top: 80px;
    padding: 0 30px;
    .case{
        height: 574px;
        width: 100%;
        position: relative;
        .info{
            position: absolute;
            top: 0;
            width: calc(100% - 320px);
            height: 100%;
            display: table;
            .wrap{
                width: 480px;
                display: table-cell;
                vertical-align: middle;
                text-align: left;
                p{
                    font-size: 23px;
                    font-weight: 300;
                    text-align: left;
                    letter-spacing: 0;
                    display: inline-block;
                }
            }
        }
        .image{
            width: 320px;
            position: absolute;
            top: 0;
            text-align: center;
            &.overlap{
                width: 233px;
                z-index: 1;
            }
        }
    }
    .case:nth-of-type(odd){
        .info{
            left: 0;
        }
        .image{
            right: 0;
            &.overlap{
                top: 33%;
                right: -50px;
            }
        }
    }
    .case:nth-of-type(even){
        .info{
            right: 25px;
        }
        .image{
            left: -25px;
        }
        .wrap{
            text-align: right;
        }
    }
}

/* Token model */
#token-model-section{
    background: rgba(47, 46, 46, 1);
    color: #fff;
    padding: 106px 0;
    .title{
        margin-bottom: 50px;
    }
    .token-desc{
        font-size: 17px;
        letter-spacing: 0.05em;
        max-width: 700px;
        margin: auto;
    }
    .token:nth-of-type(1) .token-desc{
        text-align: left;
        margin-top: 150px;
        margin-left: 15px;
    }
    .token:nth-of-type(2) .token-desc{
        text-align: center;
        margin-top: 50px;
    }
    figure{
        text-align: center;
        margin: 30px 0;
    }
    figcaption{
        padding: 30px 0;
        text-align: center;
        p{
            line-height: 1.6em;
            font-size: 14px;
            font-style: italic;
            letter-spacing: 0.05em;
        }
    }
}

/* Funding */
#funding-section{
    padding: 106px 0;
    background:#fff;
    h2.title{
        color: rgb(239, 84, 84);
        margin-bottom: 50px;
    }
    p.intro{
        color: #0E2E47;
        text-align: center;
        padding: 0 15px;
    }
    .chart-overview{
        margin-top: 50px;
        ul{
            list-style: none;
        }
        .chart-desc{
            padding-top: 120px;
        }
        .icon{
            display: inline-block;
            vertical-align: top;
            width: 32px;
            margin-top: 6px;
        }
        .data{
            font-size: 14px;
            color: #0E2E47;
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 36px);
            margin-left: -4px;
            margin-bottom: 20px;
            padding-left: 20px;
        }
    }
}

/* Road map */
#roadmap-section{
    background: rgba(47, 46, 46, 1);
    color: #fff;
    padding: 106px 0;
    h2.title{
        margin-bottom: 80px;
    }
}
.timeline-roadmap{
    position: relative;
    .vertical-line{
        height: 100%;
        width: 2px;
        position: absolute;
        left: calc(50% - 1px);
        background: #fff;
    }
    .event{
        position: relative;
        min-height: 140px;
        &.event-happened .icon{
            width: 36px;
            height: 36px;
            background-image: url(../assets/check.png);
            background-size: contain;
            background-position: 0 0 ;
            background-repeat: no-repeat;
            position: absolute;
            left: calc(50% - 18px);
        }
        &.event-happening .icon{
            width: 42px;
            height: 42px;
            border: 4px solid #fff;
            border-radius: 50%;
            background-image: url(../assets/event_happening.png);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            left: calc(50% - 21px);
        }
        &.event-unhappened .icon{
            width: 22px;
            height: 22px;
            border: 1px solid #fff;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            left: calc(50% - 11px);
        }
        .info{
            width: 50%;
            position: absolute;
            .event-time{
                font-size: 25px;
                letter-spacing: 0.2em;
                margin-bottom: 15px;
            }
            p{
                font-size: 17px;
                font-weight: normal;
                letter-spacing: 0.05em;
                line-height: 1.5;
                margin-bottom: 15px;
            }
        }
    }
    .event:nth-of-type(2n){
        .info{
            left: 0;
            text-align: right;
            padding-right: 45px;
        }
    }
    .event:nth-of-type(2n+1){
        .info{
            right: 0;
            text-align: left;
            padding-left: 45px;
        }
    }
}

/* Our team */
#team-section{
    background: #fff;
    padding: 106px 0;
    color: #2F2E2E;
    h2.title{
        color: rgb(239, 84, 84);
        margin-bottom: 100px;
    }
    .roster{
        margin-bottom: 60px;
    }
    .member{
        color: #0E2E47;
        .title{
            font-family: 'Helvetica', sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.4em;
            text-align: center;
            margin: 12px 0 0 0;
        }
        .linkedin{
            display: block;
            width: 38px;
            height: 38px;
            margin: 8px auto 12px auto;
            background-image: url(../assets/linkedin.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .info{
            font-size: 14px;
            font-weight: 300;
            line-height: 1.4em;
            letter-spacing: 0.05em;
            text-align: justify;
        }
    }
    .roster .member:nth-of-type(2){
        margin-top: -60px;
    }
    .roster:nth-last-of-type(1){
        margin-bottom: 0;
        .member{
            margin: -60px auto 0 auto;
        }
    }
}

/* Partner */
#partner-section{
    background:rgba(232, 232, 232, 1);
    padding: 80px 0;
    h2.title{
        color: rgb(239, 84, 84);
    }
    .image{
        padding: 80px 0;
        text-align: center;
        img{
            width: 308px;
        }
    }
}

/* Recognition */
#recognition-section{
    background:#fff;
    padding: 80px 0;
    h2.title{
        color: rgb(239, 84, 84);
        margin-bottom: 60px;
    }
    .article-wrapper{
        border: 0px solid rgba(232, 232, 232, 1);
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
        padding: 10px;
        height: 393px;
        overflow-y: hidden;
        margin-bottom: 50px;
        .image-section{
            text-align: center;
            height: 47px;
            padding: 0 0 10px 0;
            overflow: hidden;
            img{
                height: 100%;
                width: auto;
            }
        }
        .image-hero{
            width: calc(100% + 20px);
            margin-left: -10px;
            height: 157px;
            object-fit: contain;
            overflow: hidden;
            img{
                height: 100%;
            }
        }
        .title{
            font-family: 'Helvetica',sans-serif;
            font-weight: bold;
            font-size: 18px;
            color: #2F2E2E;
            margin: 18px 0;
            height: 80px;
            overflow-y: hidden;
        }
        a {
            width: 142px;
            height: 40px;
            line-height: 40px;
            display: block;
            margin: 10px auto;
        }
    }
    .organization{
        margin: 30px 0;
        .item{
            height: 40px;
        }
    }
}

#subscribe-bottom-section{
    position: relative;
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    color: #fff;
    text-align: center;
    .title{
        font-size: 32px;
        margin: 0 0 50px 0;
    }
    .subscribe-field{
        width: 507px;
        margin: auto;
        input{
            padding: 10px;
            background-color: rgba(255,255,255,1);
            color: #0E2E47;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            width: 296px;
            margin-right: 12px;
            border: 0;
            border-radius: 0;
        }
        input::placeholder{
            color: #000;
        }
    }
    .parallax{
        width: 100%;
        background-size: cover;
        background-image: url(../assets/bottom_bg.png);
        background-size: cover;
        background-position: center -200px;
        position: absolute;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        transition: background-position 0.3s ease;
    }
} 
#subscribe-bottom-btn {
    background-color: rgb(239, 84, 84);
    border: 2px solid rgb(239, 84, 84);
    border-color: rgb(239, 84, 84);
    color: #fff;
    border-radius: 0;
    padding: 9px 16px;
}

#social-media-vertical-list{
    position: fixed;
    right: 35px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 26px;
    z-index: 100;
    list-style: none;
    li{
        margin-bottom: 10px;
    }
}
#social-media-horizontal-list{
    list-style: none;
    margin: 40px 0 20px 0;
    li{
        display: inline-block;
        margin: 0 15px 0 -4px;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        line-height: 22px;
        text-align: center;
        img{
            max-width: 18px;
        }
    }
}