/* main scss. Reformat css file to find duplicated CSS classes */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,h
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
    word-wrap: break-word;
}
html,body{
    margin:0;
    width: 100%;
    height: 100%;
}
body {
    padding-top: 95px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix {
    zoom:1;
}
button, .btn{
    -webkit-transition: background 100ms linear;
    -moz-transition: background 100ms linear;
    -ms-transition: background 100ms linear;
    -o-transition: background 100ms linear;
    transition: background 100ms linear;
    cursor: pointer;
    &:focus{
        outline: 0;
    }
}
a {
    text-decoration: none;
    color: #a9aaac;
    cursor: pointer;
}
a:focus, a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    width: 980px;
    position: relative;
}
.app{
    .app-store,
    .google-play{
        display: inline-block;
        width: 132px;
        margin: 0 34px 0 -4px;
        color: #fff;
        .title{
            margin-bottom: 10px;
            text-align: center;
        }
    }
    .google-play{
        margin-right: 0;
    }
}
h2.title{
    font-size: 25px;
    letter-spacing: 0.2em;
    text-align: center;
    margin-bottom: 25px;
}
p.intro{
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: 0.05em;
}
p.pullQuote{
    font-size: 25px;
    color: #2F2E2E;
    text-align: center;
    padding: 0 50px;
}
.btn-bg_pink-text_white{
    display: block;
    min-width: 50px;
    min-height: 30px;
    font-size: 15px;
    color: #fff;
    background-color: rgba(239, 84, 84, 1);
    border: solid rgba(171, 5, 53, 1) 0px;
    border-radius: 50px;
    margin-right: 40px;
    text-align: center;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    &:hover{
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(239, 84, 84, 1);
        color: rgba(239, 84, 84, 1);
    }
}
/* Notification */
.notification{
    transition: opacity .5s linear;
}

footer{
    text-align: center;
    height: 66px;
    font-weight: 300;
    color: #fff;
    background: #000;
    display: table;
    width: 100%;
    .container{
        display: table-cell;
        vertical-align: middle;
    }
    p{
        font-size: 14px;
        line-height: 1.4em;
    }
}

.subscribe-field{
    width: 507px;
    margin: auto;
    input{
        padding: 10px;
        background-color: rgba(255,255,255,1);
        color: #0E2E47;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        width: 296px;
        margin-right: 12px;
        border: 0;
        border-radius: 0;
    }
    input::placeholder{
        color: #000;
    }
}
.subscribe-btn {
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    padding: 9px 24px;
}
//Animation
.os-animation{
  opacity: 0;
}

.os-animation.animated{
    opacity: 1;
}

// Pop up 
#munchee-popup{
    background: rgba(131, 150, 156, 0.85);
    .modal-dialog{
        max-width: 600px;
        margin: 150px auto;
    }
    .modal-content{
        border: 8px solid #ef5454;
        padding: 80px 20px;
        min-height: 365px;
        text-align: center;
    }
    button.close{
        width: 22px;
        height: 22px;
        font-size: 50px;
        line-height: 22px;
        color: #000;
        cursor: pointer;
        position: absolute;
        right: -42px;
        top: -8px;
        font-weight: 500;
    }
    .popup-title{
        font-size: 34px;
        font-weight: 900;
        color: #ef5454;
        font-family: 'Tahoma';
        letter-spacing: 0.05em;
        margin-bottom: 22px;
    }
    .popup-subhead{
        font-size: 19px;
        line-height: 1.4;
        color: #0E2E47;
        margin-bottom: 70px;
    }
    .subscribe-field{
        width: 440px;
        input{
            padding: 6px 10px;
            font-size: 15px;
            font-weight: normal;
            border: 0.5px solid #605E5E;
            color: #2d2d2d;
            &::placeholder{
                font-size: 15px;
                color: #605E5E;
            }
        }
    }
    .subscribe-btn{
        font-size: 15px;
        padding: 6px 23px;
        background: #ef5454;
        color: #fff;
    }
}

/* hamburger button */

.hamburger-btn {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.hamburger-btn span {
  display: block;
  position: absolute;
  height: 8px;
  width: 50%;
  background: rgba(239, 84, 84, 1);
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger-btn span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.hamburger-btn span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

.hamburger-btn span:nth-child(1), .hamburger-btn span:nth-child(2) {
  top: 0px;
}

.hamburger-btn span:nth-child(3), .hamburger-btn span:nth-child(4) {
  top: 18px;
}

.hamburger-btn span:nth-child(5), .hamburger-btn span:nth-child(6) {
  top: 36px;
}

.hamburger-btn.open span:nth-child(1),.hamburger-btn.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger-btn.open span:nth-child(2),.hamburger-btn.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger-btn.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.hamburger-btn.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.hamburger-btn.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.hamburger-btn.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.hamburger-btn.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.hamburger-btn.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}
/* RESPONSIVE */
@media (min-width: 768px) and (max-width: 979px) {
    h2.title{
        font-size: 24px;
    }
    p.intro{
        font-size: 16px;
        line-height: 1.5;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 980px;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    #munchee-popup{
         .modal-dialog{
             max-width: 450px;
         }
         .popup-title{
             font-size: 28px;
         }
         .subscribe-field{
             width: 350px;
         }
    }
}
@media only screen and (max-width: 575px){
    .container{
        width: 300px;
        padding: 0 10px;
    }
    #munchee-popup{
         .modal-dialog{
             max-width: 310px;
             margin: 100px auto
         }
         .modal-content{
            padding: 20px;
            min-height: 340px;
         }
         .popup-subhead{
             margin-bottom: 20px;
         }
         .popup-title{
             font-size: 28px;
         }
         .subscribe-field{
             width: 100%;
         }
    }
    .hamburger-btn {
        width: 45px;
        height: 35px;
    }
    .subscribe-field{
        display: block;
        width: 100%;
        input.form-control{
            width: 100%;
            margin: 0 0 10px 0;
            display: block;
        }
        .btn{
            width: 100%;
        }
    }
    h2.title{
        font-size: 18px;
    }
    p.intro{
        font-size: 16px;
    }
    .app {
        .app-store, .google-play{
            width: calc(50% - 8px);
            margin: 0;
        }
        .google-play{
            margin-left: 8px;
        }
    }
}
