#banner-video{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -2;
    overflow: hidden;
	.mchee-video{
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    object-position: center center;
	}
	.home-banner-img{
		display: none;
		background-image: url(../assets/preview_video.png);
		background-position: 0 0;
	    background-size: cover;
	    position: absolute;
	    width: 100%;
	    height: 100%; 
	}
}

#top-nav{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 95px;
    left: 0;
    top: 0;
    background-color: rgba(47, 46, 46, 0.6);
    border-top: 0px solid rgba(47, 46, 46, 1);
    border-bottom: 0px solid rgba(47, 46, 46, 1);
    & > .container{
        height: 100%;
    }
}
#logo-home{
    display: block;
    width: 195px;
    height: 50px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 22px;
    img{
        width: 100%;
        height: 100%;
    }
}
#menu-mobile-left{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 80px 0 0 0;
    background-color: rgba(239, 84, 84, 1);
    transform: translate3d(-300px,0,0);
	-webkit-transition: transform  0.3s ease;
	-moz-transition: transform  0.3s ease;
	-ms-transition: transform  0.3s ease;
	-o-transition: transform  0.3s ease;
	transition: transform  0.3s ease;
    &.slideout{
    	display: block;
    }
    li{
    	padding: 10px 20px;
	    text-align: center;
	    font-size: 0.93em;
	    font-weight: bold;
	    letter-spacing: 0.03em;
    	&:active{
    		background-color: rgba(151, 187, 216, 0.8);
    	}
    	a{
    		color: #fff;
            font-size: 18px;
            text-align: left;
            font-weight: 300;
    	}
    }
}
#menu-mobile-btn{
    display: none;
    position: absolute;
    left: 10px;
    top: 12px;
}
#menu-home{
    top: 20px;
    right: 0px;
    position: absolute;
    margin: auto;
    z-index: 2;
    height: 50px;
    line-height: 50px;
    text-align: right;
    .nav-link{
        font-size: 15px;
        font-weight: normal;
        line-height: 1.4em;
        text-align: center;
        color: #ffffff;
        display: inline-block;
        vertical-align: middle;
        padding: 0 12px;
        &:hover{
            color: rgba(239, 84, 84, 1);
        }
    }
}
/* Countdown section */
#countdown-section{
    & > .container{
		height: 100%;
	}
    .app{
        text-align: right;
    }
}
#countdown-section .left-info{
    padding-top: 80px;
    float: left;
    width: 620px;
    height: 100%;
    color: #fff;
    .slogan{
        font-size: 23px;
        letter-spacing: 0.2em;
        margin: 0 0 60px 0;
    }
    .date-detail{
        font-size: 21px;
        margin: 0 0 30px 0;
        &:nth-last-of-type(1){
            text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
        }
    }
    .date-countdown{
        margin: 20px 0 80px 0;
    }
    .date-section{
        height: 31px;
        line-height: 31px;
        font-size: 24px;
        box-shadow: rgb(0, 0, 0) 0px 0px 12.1634px;
        text-shadow: rgb(255, 255, 255) 0px 0px 2.43268px;
        background: #000;
        width: 610px;
        max-width: 100%;
        overflow-x: hidden;
        margin: 17px 0 17px 5px;
        li{
            display: inline-block;
            width: calc(25% - 4px);
            margin: 0 0 0 -4px;
            text-align: center;
            &:nth-of-type(2){
                padding-left: 14px;
            }
            &:nth-of-type(3){
                padding-left: 32px;
            }
            &:nth-of-type(4){
                padding-left: 44px;
            }
        }
    }
    .btn-bg_pink-text_white{
        width: 273px;
        height: 62px;
        line-height: 62px;
    }
}
#clock-countdown{
    margin: 0;
    .flip-clock-divider .flip-clock-label {
        display: none;
    }
    ul li a div div.inn {
        background-color: #000;
    }
}
#countdown-section .right-info{
    padding-top: 80px;
    float: right;
    width: calc(100% - 620px);
    height: 100%;
    .right-image{
        margin-top: 30px;
        text-align: center;
        position: relative;
        .big{
            width: 258px;
            height: 445px;
            object-fit: cover;
            position: absolute;
            left: 25px;
            top: 0;
        }
        .small{
            width: 181px;
            height: 334px;
            object-fit: cover;
            position: absolute;
            left: 142px;
            top: 162px;
        }
    }
}
/* youtube section */
#youtube-section{
    padding: 106px 0;
    text-align: center;
    background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 1) 100%);
}
.whitepaper-list {
    margin-top: 60px;
    .btn-bg_pink-text_white{
        margin: 0 0 30px 0;
        height: 67px;
        line-height: 67px;
    }
}
/* subscribe */
#subscribe-section{
    padding: 106px 0;
    background: rgba(239, 84, 84, 1);
    color: #fff;
    text-align: center;
    .title{
        font-size: 32px;
        margin: 0 0 50px 0;
    }
    p{
        font-size: 17px;
        margin: 30px 0 0 0;
    }
}
#subscribe-btn {
    background-color: rgba(114,179,50,1) !important;
    border: 2px solid rgba(114,179,50,1);
    border-color: rgba(114,179,50,1);
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    padding: 9px 24px;
}

/* Current Problem */
#current-problem-section{
    color: #fff;
    padding: 140px 0;
    background-image: url(../assets/current_problem_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    & > .container{
        padding: 20px 80px;
    }
    .title{
        margin-bottom: 50px;
    }
    p.intro{
        margin-bottom: 30px;
    }
}

/* Solution section */
#solution-section{
    color: #fff;
    padding: 140px 0;
    background-image: url(../assets/solution_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    .title{
        margin-bottom: 30px;
    }
    p.intro{
        margin-bottom: 30px;
    }
    .solution-list{
        margin: 80px 0 0 0;
        .item{
            img{
                width: 126px;
                height: auto;
                margin: 25px auto;
            }
            .name{
               font-size: 20px;
               margin-bottom: 20px;
            }
            p{
                font-size: 15px;
                line-height: 1.6em;
                text-align: justify;
                letter-spacing: 0.05em;
            }
        }
    }
}

/* live product section */
#live-product-section{
    background:#fff;
    padding: 106px 0;
    text-align: center;
    h2.title{
        margin-bottom: 25px;
        color: rgb(239, 84, 84);
    }
    p.intro{
        color: #0E2E47;

    }
    .app{
        margin-top: 30px;
        .title{
            font-size: 17px;
            color: #0E2E47;
            letter-spacing: 0.05em;
            margin-bottom: 10px;
        }
    }
    .btn-bg_pink-text_white{
        width: 325px;
        height: 47px;
        line-height: 47px;
        display: block;
        margin: 40px auto;
    }
}
#live-product-section .showcase {
    margin-top: 80px;
    padding: 0 30px;
    .case{
        height: 574px;
        width: 100%;
        position: relative;
        .info{
            position: absolute;
            top: 0;
            width: calc(100% - 320px);
            height: 100%;
            display: table;
            .wrap{
                width: 480px;
                display: table-cell;
                vertical-align: middle;
                text-align: left;
                p{
                    font-size: 23px;
                    font-weight: 300;
                    text-align: left;
                    letter-spacing: 0;
                    display: inline-block;
                }
            }
        }
        .image{
            width: 320px;
            position: absolute;
            top: 0;
            text-align: center;
            &.overlap{
                width: 233px;
                z-index: 1;
            }
        }
    }
    .case:nth-of-type(odd){
        .info{
            left: 0;
        }
        .image{
            right: 0;
            &.overlap{
                top: 33%;
                right: -50px;
            }
        }
    }
    .case:nth-of-type(even){
        .info{
            right: 25px;
        }
        .image{
            left: -25px;
        }
        .wrap{
            text-align: right;
        }
    }
}

/* Token model */
#token-model-section{
    background: rgba(47, 46, 46, 1);
    color: #fff;
    padding: 106px 0;
    h2.title{
        margin-bottom: 50px;
    }
    p.intro{
        max-width: 700px;
        margin: auto;
    }
    .token:nth-of-type(1) p.intro{
        text-align: left;
        margin-top: 150px;
        margin-left: 15px;
    }
    .token:nth-of-type(2) p.intro{
        text-align: center;
        margin-top: 50px;
    }
    figure{
        text-align: center;
        margin: 30px 0;
    }
    figcaption{
        padding: 30px 0;
        text-align: center;
        p{
            line-height: 1.6em;
            font-size: 14px;
            font-style: italic;
            letter-spacing: 0.05em;
        }
    }
}

/* Funding */
#funding-section{
    padding: 106px 0;
    background:#fff;
    h2.title{
        color: rgb(239, 84, 84);
        margin-bottom: 50px;
    }
    p.intro{
        color: #0E2E47;
        text-align: center;
        padding: 0 15px;
    }
    .chart-overview{
        margin-top: 50px;
        ul{
            list-style: none;
        }
        .chart-desc{
            padding-top: 120px;
        }
        .icon{
            display: inline-block;
            vertical-align: top;
            width: 32px;
            margin-top: 6px;
        }
        .data{
            font-size: 14px;
            color: #0E2E47;
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 36px);
            margin-left: -4px;
            margin-bottom: 20px;
            padding-left: 20px;
        }
    }
}

/* Road map */
#roadmap-section{
    background: rgba(47, 46, 46, 1);
    color: #fff;
    padding: 106px 0;
    h2.title{
        margin-bottom: 80px;
    }
}
.timeline-roadmap{
    position: relative;
    .vertical-line{
        height: 100%;
        width: 2px;
        position: absolute;
        left: calc(50% - 1px);
        background: #fff;
    }
    .event{
        position: relative;
        min-height: 140px;
        &.event-happened .icon{
            width: 36px;
            height: 36px;
            background-image: url(../assets/check.png);
            background-size: contain;
            background-position: 0 0 ;
            background-repeat: no-repeat;
            position: absolute;
            left: calc(50% - 18px);
        }
        &.event-happening .icon{
            width: 42px;
            height: 42px;
            border: 4px solid #fff;
            border-radius: 50%;
            background-image: url(../assets/event_happening.png);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            left: calc(50% - 21px);
        }
        &.event-unhappened .icon{
            width: 22px;
            height: 22px;
            border: 1px solid #fff;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            left: calc(50% - 11px);
        }
        .info{
            width: 50%;
            .event-time{
                font-size: 25px;
                letter-spacing: 0.2em;
                margin-bottom: 15px;
            }
            p{
                font-size: 17px;
                font-weight: normal;
                letter-spacing: 0.05em;
                line-height: 1.5;
                margin-bottom: 15px;
            }
        }
    }
    .event:nth-of-type(2n){
        .info{
            text-align: right;
            padding-right: 45px;
            float: left;
        }
    }
    .event:nth-of-type(2n+1){
        .info{
            text-align: left;
            padding-left: 45px;
            float: right;
        }
    }
}

/* Our team */
#team-section{
    background: #fff;
    padding: 106px 0;
    color: #2F2E2E;
    h2.title{
        color: rgb(239, 84, 84);
        margin-bottom: 100px;
    }
    .member{
        color: #0E2E47;
        margin-bottom: 60px;
        .avatar{
            text-align: center;
        }
        .title{
            font-family: 'Helvetica', sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.4em;
            text-align: center;
            margin: 12px 0 0 0;
        }
        .linkedin, .own-website{
            display: block;
            width: 30px;
            height: 30px;
            margin: 8px auto 0 auto;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .linkedin{
            background-image: url(../assets/linkedin.png);
        }
        .own-website{
            background-image: url(../assets/own_website.png);
        }
        .info{
            font-size: 14px;
            font-weight: 300;
            line-height: 1.4em;
            letter-spacing: 0.05em;
            text-align: justify;
            margin-top: 12px;
        }
    }
    .roster .member:nth-of-type(2){
        margin-top: -60px;
    }
    .roster:nth-last-of-type(1){
        margin-bottom: 0;
        .member{
            margin: -20px auto 0 auto;
        }
    }
}

/* Partner */
#partner-section{
    background:rgba(232, 232, 232, 1);
    padding: 80px 0;
    h2.title{
        color: rgb(239, 84, 84);
    }
    .image{
        padding: 80px 0;
        text-align: center;
        img{
            width: 308px;
        }
    }
}

/* Recognition */
#recognition-section{
    background:#fff;
    padding: 80px 0;
    h2.title{
        color: rgb(239, 84, 84);
        margin-bottom: 60px;
    }
    .article-wrapper{
        border: 0px solid rgba(232, 232, 232, 1);
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
        padding: 10px;
        height: 393px;
        overflow-y: hidden;
        margin-bottom: 50px;
        .image-section{
            text-align: center;
            height: 47px;
            padding: 0 0 10px 0;
            overflow: hidden;
            img{
                height: 100%;
                width: auto;
            }
        }
        .image-hero{
            width: calc(100% + 20px);
            margin-left: -10px;
            height: 157px;
            object-fit: contain;
            overflow: hidden;
            img{
                height: 100%;
            }
        }
        .title{
            font-family: 'Helvetica',sans-serif;
            font-weight: bold;
            font-size: 18px;
            color: #2F2E2E;
            margin: 18px 0;
            height: 80px;
            overflow-y: hidden;
        }
        a.btn-bg_pink-text_white {
            width: 142px;
            height: 40px;
            line-height: 40px;
            display: block;
            margin: 10px auto;
        }
    }
    .organization{
        margin: 30px 0;
        .item{
            height: 40px;
        }
    }
}

#subscribe-bottom-section{
    position: relative;
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    color: #fff;
    text-align: center;
    .title{
        font-size: 32px;
        margin: 0 0 50px 0;
    }
    .parallax{
        width: 100%;
        background-size: cover;
        background-image: url(../assets/bottom_bg.png);
        background-size: cover;
        background-position: center -200px;
        position: absolute;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        transition: background-position 0.3s ease;
    }
} 
#subscribe-bottom-btn {
    background-color: rgb(239, 84, 84);
    border: 2px solid rgb(239, 84, 84);
    border-color: rgb(239, 84, 84);
    color: #fff;
    border-radius: 0;
    padding: 9px 16px;
}

#social-media-vertical-list{
    position: fixed;
    right: 35px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 26px;
    z-index: 100;
    list-style: none;
    li{
        margin-bottom: 10px;
    }
}
#social-media-horizontal-list{
    list-style: none;
    margin: 40px 0 20px 0;
    li{
        display: inline-block;
        margin: 0 15px 0 -4px;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        line-height: 22px;
        text-align: center;
        img{
            max-width: 18px;
        }
    }
}

/* RESPONSIVE */
@media (min-width: 768px) and (max-width: 991px) {
    body{
        font-size: 15px;
    }

    #logo-home{
        width: 140px;
        height: auto;
        top: 30px;
    }

    #menu-home {
        .nav-link{
            font-size: 13px;
            padding: 0 4px;
        }
    }
    
    #countdown-section{
        .left-info{
            width: 410px;
            .slogan{
                font-size: 16px;
                margin-bottom: 40px;
            }
           .date-detail{
               font-size: 14px;
           }
           .date-section{
                width: 385px;
                font-size: 20px;
           }
           .date-countdown{
               margin-bottom: 50px;
           }
           .btn-bg_pink-text_white{
                font-size: 14px;
                width: 197px;
                height: 46px;
                line-height: 46px;
                margin-right: 7px;
           }
        }

        .right-info{
            width: calc(100% - 410px);
            .app {
                .app-store, .google-play{
                    width: calc(50% - 8px);
                    margin-right: 5px;
                }
            }
            .right-image{
                .big{
                    width: 200px;
                    height: auto;
                }
                .small{
                    width: 140px;
                    height: auto;
                    left: 140px;
                    top: 135px;
                }
            }
        }
    }

    /* clock countdown */
    .flip-clock-wrapper{
        ul{
            margin: 2px;
            width: 40px;
            height: 60px;
            line-height: 60px;
            li {
                line-height: 60px;
                a div div.inn{
                    font-size: 45px;
                }
            }
        }
    }

    .flip-clock-divider{
        width: 14px;
        height: 60px;
    }

    .flip-clock-dot{
        left: 2px;
        &.top{
            top: 35px;
        }
    }

    #youtube-section{
        iframe{
            width: 600px;
            height: 338px;
        }
    }

    .whitepaper-list {
        .btn-bg_pink-text_white{
            font-size: 14px;
        }
        .col-sm-3{
            padding: 0 2px;
        }
    }

    #subscribe-section {
        .title{
            font-size: 31px;
        }
        p{
            font-size: 16px;
        }
    }
    
    #solution-section{
        .solution-list{
            .item{
                .name{
                    font-size: 19px;
                    margin-bottom: 8px;
                    height: 40px;
                    overflow-y: hidden
                }
            }
        }
    }

    #live-product-section {
        .showcase {
            .case {
                .image{
                    width: 260px;
                }
                .info {
                    width: calc(100% - 260px);
                    .wrap {
                        p{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .timeline-roadmap{
        .event{
            .info{
                .event-time{
                    font-size: 24px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }

    #recognition-section {
         .article-wrapper{
             height: 360px;
             .image-hero{
                 height: 120px;
             }
            .title{
                font-size: 17px;
            }
         }
    }

    #social-media-vertical-list{
        right: 20px;
    }
}

@media (min-width: 576px) and (max-width: 768px){
    body{
        padding-top: 70px;
    }
    #top-nav{
        height: 70px;
        background: #000;
    }
    #menu-home{
        display: none;
    }
    #menu-mobile-btn{
        display: block;
    }
    #logo-home{
        top: 15px;
        left: calc(50% - 75px);
        width: 150px;
        height: 40px;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    /* clock countdown */
    .flip-clock-wrapper{
        ul{
            margin: 2px;
            width: 40px;
            height: 60px;
            line-height: 60px;
            li {
                line-height: 60px;
                a div div.inn{
                    font-size: 45px;
                }
            }
        }
    }

    .flip-clock-divider{
        width: 14px;
        height: 60px;
    }

    .flip-clock-dot{
        left: 2px;
        &.top{
            top: 35px;
        }
    }

    #countdown-section{
        .left-info{
            float: none;
            width: 100%;
            .slogan{
                text-align: center;
            }
           .date-detail{
               text-align: center;
           }
           .date-section{
                width: 388px;
                margin: 17px auto;
           }
           #clock-countdown{
                width: 400px;
                margin: auto;
           }
           .btn-group{
                width: 100%;
                text-align: center;
                display: block;
           }
           .btn-bg_pink-text_white{
                width: calc(50% - 40px);
                height: 62px;
                line-height: 62px;
                display: inline-block;
                margin-right: 20px;
                &:nth-last-of-type(1){
                    margin-right: 0;
                }
           }
        }

        .right-info{
            float: none;
            width: 100%;
            .app {
                .app-store, .google-play{
                    width: calc(50% - 20px);
                }
                .app-store{
                    margin-right: 20px;
                }
            }
            .right-image{
                .big{
                    position: static;
                    width: 233px;
                    left: 10px;
                }
                .small{
                    width: 159px;
                    right: 20%;
                    left: auto;
                }
            }
        }
    }

    #youtube-section{
        #munchee-youtube{
            width: 480px;
            height: 300px;
        }
    }

    #current-problem-section{
        padding: 80px 0;
    }

    #solution-section{
        padding: 80px 0;
        .solution-list{
            .item{
                .name, p{
                    text-align: center;
                }
            }
        }
    }
    #live-product-section {
        .showcase {
            .case {
                height: 420px;
                .image{
                    width: 220px;
                }
                .info{
                    width: calc(100% - 220px);
                }
            }
            .case:nth-of-type(even) .info{
                right: 0;
            }
            .case:nth-of-type(odd) .image.overlap{
                width: 140px;
                top: 200px;
                right: -10px;
            }
        }
    }
    #token-model-section .token:nth-of-type(1) p.intro{
        margin-top: 40px;
    }
    #team-section .roster .member{
        margin-bottom: 20px;
    }
    #team-section .roster .member:nth-of-type(2){
        margin-top: 0;
    }
    #team-section h2.title{
        margin-bottom: 60px;
    }
    #team-section .roster:nth-last-of-type(1) .member {
        margin: 0;
    }
    #recognition-section {
        .article-wrapper{
            width: 300px;
             margin: 0 auto 50px auto;
        }
    }
}

@media only screen and (max-width: 575px){
    body{
        padding-top: 70px;
    }
    #top-nav{
        height: 70px;
        background: #000;
    }
    #menu-home, #social-media-vertical-list{
        display: none;
    }
    #menu-mobile-btn{
        display: block;
        left: 5px;
    }
    #logo-home{
        top: 15px;
        left: calc(50% - 75px);
        width: 150px;
        height: 40px;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    /* clock countdown */
    .flip-clock-wrapper{
        ul{
            margin: 2px;
            width: 25px;
            height: 45px;
            li {
                line-height: 45px;
                a div div.inn{
                    font-size: 33px;
                }
            }
        }
    }

    .flip-clock-divider{
        width: 16px;
        height: 46px;
    }

    .flip-clock-dot{
        left: 3px;
        &.top{
            top: 28px;
        }
        &.bottom{
            bottom: 22px;
        }
    }

    #countdown-section{
        .left-info{
            float: none;
            width: 100%;
            .slogan{
                text-align: center;
                font-size: 19px;
                margin: 0 0 30px 0;
            }
           .date-detail{
                text-align: center;
                font-size: 17px;
                margin: 0 0 20px 0;
           }
           .date-section{
                width: 296px;
                margin: 6px auto;
                font-size: 16px;
                li{
                    &:nth-of-type(2){
                        padding-left: 14px;
                    }
                    &:nth-of-type(3){
                        padding-left: 32px;
                    }
                    &:nth-of-type(4){
                        padding-left: 44px;
                    }
                }
           }
           .date-countdown{
               margin-bottom: 30px;
           }
           #clock-countdown{
                width: 310px;
                margin: auto;
           }
           .btn-group{
                width: 100%;
                text-align: center;
                display: block;
           }
           .btn-bg_pink-text_white{
                width: 100%;
                height: 50px;
                line-height: 50px;
                display: block;
                margin-bottom: 20px;
           }
        }

        .right-info{
            float: none;
            width: 100%;
            padding-top: 30px;
            .right-image{
                .big{
                    position: static;
                    width: 190px;
                    left: 10px;
                    height: auto;
                }
                .small{
                    width: 100px;
                    height: auto;
                    right: 52px;
                    left: auto;
                }
            }
        }
    }

    #youtube-section{
        padding: 40px 0px;
        #munchee-youtube{
            width: 280px;
            height: 200px;
        }
        .whitepaper-list {
            margin-top: 20px;
            .btn-bg_pink-text_white {
                margin: 0 0 10px 0;
                height: 50px;
                line-height: 50px;
            }
        }
    }
    #subscribe-section {
        h2.title{
            font-size: 25px;
            letter-spacing: 0;
            margin-bottom: 30px;
        }
        p{
            font-size: 15px;
        }
    }
    #current-problem-section{
        padding: 50px 0;
        & >  .container {
            padding: 20px 25px;
        }
        .title{
            margin-bottom: 30px;
        }
    }

    #solution-section{
        padding: 50px 0;
        .solution-list{
            margin: 30px 0 0 0;
            .item{
                .name, p{
                    text-align: center;
                }
            }
        }
    }
    #live-product-section {
        padding: 50px 0;
        .showcase {
            margin-top: 50px;
            padding: 0;
            .case {
                min-height: 420px;
                height: auto;
                .image{
                    width: 220px;
                    margin: auto;
                    position: static;
                }
                .info{
                    width: 100%;
                    position: static;
                    display: block;
                    margin: auto;
                    height: auto;
                }
            }
            .case:nth-of-type(even),.case:nth-of-type(odd){
                    position: static;
                    text-align: center;
                    margin-bottom: 30px;
                .wrap{
                    display: block;
                    width: 100%;
                    text-align: center;
                    p{
                        font-size: 16px;
                        text-align: center;
                    }
                }
            }
            .case:nth-of-type(odd) .image.overlap{
                    width: 140px;
                    top: 170px;
                    right: 8px;
                    position: absolute;
            }
            .case:nth-last-of-type(1){
                position: relative;
                .info{
                    margin-top: 30px;
                }
            }
        }
        .btn-bg_pink-text_white{
            width: 100%;
            margin: 30px auto;
        }
    }
    #token-model-section .token:nth-of-type(1) p.intro{
        margin-top: 40px;
    }
    #team-section .roster .member{
        margin-bottom: 20px;
    }
    #team-section .roster .member:nth-of-type(2){
        margin-top: 0;
    }
    #team-section h2.title{
        margin-bottom: 60px;
    }
    #team-section .roster:nth-last-of-type(1) .member {
        margin: 0;
    }
    #recognition-section {
        .article-wrapper{
            width: 300px;
             margin: 0 auto 50px auto;
        }
    }

    #roadmap-section{
        padding: 50px 0;
        h2.title {
            margin-bottom: 40px;
        }
        .event {
            .info {
                .event-time{
                    font-size: 21px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
        .event:nth-of-type(2n) .info{
            padding-right: 20px;
        }
        .event:nth-of-type(2n+1) .info{
            padding-left: 20px;
        }
    }

    #team-section{
        padding: 50px 0;
    }

    #recognition-section{
        padding: 50px 0;
        #recognition-section .organization {
            margin: 0;
        }
    }
}